<div class="bg d-flex">
  <div class="row align-content-end col-lg-12 justify-content-lg-center mb-lg-5">
    <button class="homeButton text-center mx-lg-5">
      My Routes
    </button>
    <button class="homeButton text-center mx-lg-5">
      My Events
    </button>
    <button class="homeButton text-center mx-lg-5">
      Registered Events
    </button>

    <div class="d-flex col-lg-12 mt-lg-3 justify-content-lg-center ">
      <button class="infoButton text-center">
        Edit Information
      </button>
    </div>
  </div>
</div>

