<div class="_bg d-flex">
  <div class="row align-content-end col-lg-12 justify-content-lg-center mb-lg-5">
    <button class="_homeButton text-center mx-lg-5">
      My Routes
    </button>
    <button class="_homeButton text-center mx-lg-5">
      My Events
    </button>
    <button class="_homeButton text-center mx-lg-5">
      Registered Events
    </button>
    <div class="d-flex col-lg-12 mt-lg-3 justify-content-lg-center ">
      <button [disabled]="btnDisabled ? 'disabled' : ''" class="_infoButton text-center" (click)="modal.OpenModal()">
        Information
      </button>
    </div>
  </div>
</div>

<!--Information Modal-->
<app-modal #modal [backgroundColor]="{'background-color': 'rgba(255, 255, 255, 0.55)'}">

  <h1 class="text-center mt-3 text-black">Information</h1>

  <!--Infomation-->
  <div class="row col-lg-12 d-flex justify-content-lg-center">
    <div class="col-lg-12">
      <div class=" col-lg-12">
        <p class="text-center text-black">Name: Mail Emailsen</p>
      </div>
      <div class=" col-lg-12 ">
        <p class="text-center text-black">Email: Mail@Mail.dk</p>
      </div>
      <div class=" col-lg-12">
        <p class="text-center text-black">BirthDay: 01/01/90</p>
      </div>
    </div>
  </div>

</app-modal>


