<div class="bg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div *ngIf="!showCreateRouteCard" class="d-flex col-lg-12">
    <div [formGroup]="EventForm" class="InvisibleCard container justify-content-lg-center col-lg-7 mt-lg-5">
      <div class="col-lg-12">
        <h1 class="text-center headline mt-3">Create Event</h1>
        <p class="text-center underheadline">This is the place where you create one of many events for your journey!</p>

        <div class="col-lg-12 d-flex justify-content-center">
          <input formControlName="headline" class=" text-center col-lg-8 input text-white" placeholder="Write your title here" />
        </div>

        <div class="col-lg-12 d-flex justify-content-center mt-lg-3">
          <textarea formControlName="description" placeholder="Descripe your event here" class="description text-center p-lg-3" cols="60" rows="3"></textarea>
        </div>

        <!--Time picker and Date Picker-->
        <div class="col-lg-12 d-flex justify-content-center mt-lg-3">
          <div class="timebox row col-lg-7 d-flex justify-content-lg-center">

            <div class="col-lg-6 my-lg-2 borderRight">
              <p class="col-lg-12 text-center">Start Event</p>
              <div class="col-lg-12 d-flex justify-content-lg-center">
                <input formControlName="startTime" class="text-center" id="startTime" />
              </div>
              <div class="col-lg-12">
                <input formControlName="startDateTime" class="text-center col-lg-12" id="startDatetime" />
              </div>
            </div>

            <div class="col-lg-6 my-lg-2">
              <p class="col-lg-12 text-center">End Event</p>
              <div class="col-lg-12 d-flex justify-content-lg-center">
                <input formControlName="endTime" class="text-center" id="endTime" />
              </div>
              <div class="col-lg-12">
                <input formControlName="endDateTime" class="text-center col-lg-12" id="endDatetime" />
              </div>
            </div>

          </div>
        </div>

        <!--When Route is created, this should be showed-->
        <div *ngIf="showRouteWhenCreated" class="col-lg-12 d-flex justify-content-center mt-lg-3">
          <div class="col-lg-10 d-flex justify-content-center">

            <div class="col-lg-6 row d-flex justify-content-center">
              <div class="col-lg-12">
                <p class="text-lg-center text-white borderBottom">Valløesgade 29, 7100 Vejle, Denmark</p>
                <p class="text-lg-center text-white">Valløesgade 29, 7100 Vejle, Denmark</p>
                <p class="text-lg-center text-white">200 km</p>
              </div>

            </div>
            <!--There should be a little map here-->
            <div class="col-lg-6">
              <div class="col-lg-12 mapbox">

              </div>

            </div>


          </div>
        </div>
        <div class="container my-lg-3 d-flex justify-content-between">
          <app-btn-mc-world [btnText]="btnAddRoute" [btnWidth]="10" (click)="ShowCreateRouteCard()"></app-btn-mc-world>
          <app-btn-mc-world [btnText]="btnCreateEvent" [btnWidth]="10" (click)="CreateEvent()"></app-btn-mc-world>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showCreateRouteCard">
    <app-create-route-card (AddRoute)='getRoute($event)'></app-create-route-card>
  </div>
</div>
