  <div class="area"></div><nav class="main-menu">
    <ul>
      <li class="has-subnav">
        <a routerLink="/home">
          <i class="material-icons">home</i>
          <span class="nav-text">
            Home
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="material-icons">star</i>
          <span class="nav-text">
            Routes
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a routerLink="/create-route">
          <i class="material-icons">directions</i>
          <span class="nav-text">
            Create Route
          </span>
        </a>

      </li>

      <li>
        <a href="#">
          <i class="material-icons">motorcycle</i>
          <span class="nav-text">
            Event
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/create-event">
          <i class="material-icons">event</i>
          <span class="nav-text">
            Create Event
          </span>
        </a>
      </li>
      <li>

        <a href="#">
          <i class="material-icons">info</i>
          <span class="nav-text">
            About
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="material-icons">input</i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>



















  <!--<div class="_sidenav col-lg-3">
    <button class="_mainNavBtn text-center">
      <p>Home</p>
    </button>
    <div class="col-lg-7">
      <button class="_subNavBtn text-center mt-4">
        <p>Event</p>
      </button>
      <button class="_subNavBtn text-center mt-4">
        <p>Route</p>
      </button>
      <div class="dropdown ">
        <button class="_subNavBtn text-center mt-4">
          <p>Show All</p>
        </button>
        <button class="_subNavBtn text-center mt-4">
          <p>Create</p>
        </button>
      </div>
    </div>
  </div>-->
