.bg {
  background-color: rgba(182, 182, 182, 0.25);
  border-radius: 45%;
  box-shadow: 20px 20px 40px 0 rgba(182, 182, 182, 0.40);
  border-right-style: solid;
  border-bottom-style: solid;

  p {
    font-family: 'Handlee', cursive;
    font-size: 1.2rem;
  }
}


.borderBottom {
  border-bottom: solid 2.2px rgba(65, 143, 149, 0.60);
  border-top: none;
  border-right: none;
  border-left: none;
}
