.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 900px;
  min-width: 550px;
  background-image: url("/../../assets/CreateBackground.jpg");
}

-title {
  opacity: 0.50;
  color: white;
}

.input {
  height: 2.5rem;
  background-color: rgba(159, 204, 239, 0);
  border-bottom: solid 0.1rem rgb(159, 204, 239);
  border-top: none;
  border-left: none;
  border-right: none;

  .input:hover {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: whitesmoke;
  opacity: 0.50;
}


.description {
  background-color: rgba(159, 204, 239, 0);
  border-style: solid;
  border-color: rgba(159, 204, 239, 0.40);
  color: white;
}

.description::placeholder {
  color: white;
  opacity: 0.75;
}

.timebox {
  border-top: solid 1px rgba(159, 204, 239, 0.70);
  border-bottom: solid 1px rgba(159, 204, 239, 0.70);

  p {
    text-decoration: underline;
    color: white;
  }

  input {
    background-color: rgba(159, 204, 239, 0);
    border-style: none;
    margin-top: -10px;
    color: white;
  }

  .borderRight {
    border-right: solid 2px rgba(159, 204, 239, 0.95);
  }
}

.borderBottom {
  border-bottom: solid 2px rgba(159, 204, 239, 0.80);
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 15px;
}

.mapbox {
  height: 12rem;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}


.btnBox {
  width: 10rem;
}


.bs {
  border-style: solid;
}
