    <div *ngIf="hidden" class="container d-flex justify-content-lg-center col-lg-10">
      <div class="bg col-lg-8 mt-lg-5 ">
     
        <ng-content select=".headline"></ng-content>

        <div class="col-lg-12 d-flex justify-content-center mt-lg-1">
          <div class="row col-lg-12 d-flex justify-content-lg-center">

            <div class="col-lg-6">
              <ng-content select=".infoBoxModal"></ng-content>
           
            </div>

            <div class="col-lg-6 my-lg-2">
              <ng-content select=".buttonBox"></ng-content>
            </div>

          </div>
        </div>
      </div>
    </div>
