@import '~material-design-icons/iconfont/material-icons.css';


button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}


/*Invisible Card*/
.InvisibleCard {
  background-color: rgba(111, 111, 101, 0.60);
  -webkit-box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  border-style: none;
}

.headline {
  font-family: 'Handlee', cursive;
  font-size: 2.5rem;
  opacity: 1;
  color: rgb(182, 182, 182);
}

Underheadline {
  font-family: 'Handlee', cursive;
  color: rgb(182, 182, 182);
  font-size: 1.2rem;
}


