.bg {
  background-color: rgba(182, 182, 182, 0.75);
  border-radius: 45%;
}

.bs {
  border-style: solid;
}

.borderBottom {
  border-bottom: solid 1px rgba(65, 143, 149, 0.50);
  border-top: none;
  border-right: none;
  border-left: none;
}

p {
  font-family: 'Handlee', cursive;
}

