<div class="bg pb-lg-3 my-lg-3">
  <div class="col-lg-12 text-center">
    <h5 class="pt-3 ">Det er en title</h5>
  </div>
  <div class="col-lg-12 text-center">
    <p class="">12:00</p>
    <p class="mt-n3 borderBottom">17/10/2019</p>
  </div>
  <div class="col-lg-12 mt-n1 text-center d-flex justify-content-center">
    <p class="text-center col-lg-10">
      Dette er en kort beskrivelse
      af hvad der skal ske på turen
      og andre småting, hvor der kan læses videre....
    </p>
  </div>
  <div class="container my-lg-3 d-flex justify-content-center">
    <app-btn-mc-world [btnText]="btntext" [btnWidth]="10" (click)="CreateRoute()"></app-btn-mc-world>
  </div>
</div>
