<div class="bg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="d-flex justify-content-center col-12">
    <div class="box container d-flex justify-content-lg-center col-lg-7 mt-5">
      <div class="col-lg-12">
        <h1 class="text-center headline">Create Route</h1>
        <p class="lead text-center">This is the place to where you create one of many routes!</p>

        <hr class="my-5">

        <div class="col-lg-12 row ">

          <div class="col-lg-4">

            <div class="inputBox1 mb-5">
              <div class="row justify-content-center">
                <h4 class="col-lg-8 text-center mt-2">Start Address</h4>
                <input class="mt-1 col-lg-8 input text-center" placeholder="Street"/>
                <input class="mt-1 col-lg-8 input text-center" placeholder="City" disabled/>
                <input class="mt-1 col-lg-8 input text-center" placeholder="Country" disabled/>
              </div>

            </div>

            <div class="inputBox2 mt-5">
              <div class="row justify-content-center">
                <h4 class="col-lg-8 text-center mt-2">Destination</h4>
                <input class="mt-1 col-lg-8 input text-center" placeholder="Street" />
                <input class="mt-1 col-lg-8 input text-center" placeholder="City" disabled />
                <input class="mt-1 col-lg-8 input text-center" placeholder="Country" disabled />
              </div>
            </div>

          </div>

          <div class="col-lg-8 mapBox mt-2"></div>

      </div>
    </div>
