.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 900px;
  min-width: 550px;
  background-image: url("/../../assets/CreateBackground.jpg");
}

.box {
  background-color: rgba(111, 111, 101, 0.50);
  -webkit-box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  border-style: none;
}

.headline {
  font-family: 'Handlee', cursive;
  font-size: 2.5rem;
  opacity: 1;
  color: rgb(182, 182, 182);
}

p {
  font-family: 'Handlee', cursive;
  color: rgb(182, 182, 182);
  font-size: 1.2rem;
}

.mapBox {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.70);
  -webkit-box-shadow: -0px 20px 35px 20px rgba(159,204,239,0.20);
  box-shadow: 0px 20px 35px 20px rgba(159,204,239,0.20);
}

.mapBox:hover {
  background-color: rgba(255, 255, 255, 0.90);
  -webkit-box-shadow: 0px 20px 35px 20px rgba(159,204,239,0.20);
  box-shadow: 0px 20px 35px 20px rgba(159,204,239,0.20);
}

.inputBox{
  border-top: solid 0.1rem rgb(221, 241, 220);
  opacity: 0.50;
}

.input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 2.5rem;

  background-color: rgb(159, 204, 239);
  opacity: 0.30;
  box-shadow: 0px 20px 45px 15px rgba(159, 204, 239, 0.60);
  border-style: none;
}

.input:focus {
  background-color: rgb(159, 204, 239);
  opacity: 0.95;
}

.borderSideBox {
  border-style: solid;
  border-left: solid 0.1rem rgb(159, 204, 239);
  border-right: solid 0.1rem rgb(159, 204, 239);
  border-top: none;
  border-bottom: none;
}
