/*Invisible Card*/
.InvisibleCard {
  background-color: rgba(111, 111, 101, 0.60);
  -webkit-box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  box-shadow: 5px 5px 50px 45px rgba(64,69,63,0.80);
  border-style: none;
}
