<div class="bg">
  <div class="col-lg-12 container d-flex justify-content-lg-center">

    <div class="col-lg-11 row">

      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
      <div class="col-lg-4">
        <app-event-card></app-event-card>
      </div>
    </div>

  </div>

</div>
